extends layout.pug

block content
  form.tower.u-flex(action='/admin/edit/'+data.id,method='post')
    .any.items
      h3.u-text-center Edit Form
      .row
        .six.items
          label(for='name') Name:
          input.u-full-width(id='name', name='name' type='text', value=data.name)
        .six.items
          label(for='author') Author:
          input.u-full-width(id='author', name='author', type='text', value=data.author)
      .row
        .twelve.items
          label(for='tags') Tags:
          input.u-full-width(id='tags', type='text', name='tags' placeholder='Enter comma separated list', value=data.tags.join(','))
      .row
        .twelve.items
          label(for='photoURL') Photo URL:
          input.u-full-width(id='photoURL', name='photoURL' type='url', value=data.photoURL)
      .row
        .three.items
          label(for='startingDate')  Starting Date:
          input.u-full-width(id='startingDate', name='startingDate' type='date', value=data.startingDate.toString())
        .three.items
          label(for='completed') Completed:
          label.u-inline
            input(type='radio', name='completed', value=1, checked=data.completed==true)
            span Yes
          label.u-inline
            input(type='radio', name='completed', value=0, checked=data.completed==false)
            span No
        .three.items
          label(for='rank') Rank:
          input(id='rank',type='number', name='rank', value=data.rank)
        .three.items
          label(for='rating') Rating:
          input(id='rating',type='number', name='rating', value=data.rating)
      .row
        .twelve.items
          label Description:
          textarea.u-full-width(name='description')= data.description

      .row
        .twelve.items.u-text-center
          input(type='submit', value='Update')
