extends layout

block content
  if (login)
    .row
      .any.items.u-text-center
        a.button(href="/admin/insert") Insert
  .row.u-flex.u-flex-center
    .any.items
      ol.manga
        each row, ind in data
          li.manga
            .row
              .two.items.imageHolde
                img(src=row.photoURL, height=150)
              .three.items
                div= row.name
                div
                  i Artist: &nbsp
                  a(href='/author/'+row.author)= row.author
                div
                  i Tags: &nbsp
                  each tag, index in row.tags
                    if index > 0
                      span= " | "
                    a(href='/tags/'+tag)= tag
                div
                  i Rating: #{row.rating}
              .seven.items
                div.description
                  i Description: &nbsp
                  span= row.description
                if login
                  a.button(href='/admin/edit/'+row.id) Edit
                  a.button(href='/admin/delete/'+row.id) Delete
